.rating {
    position: relative;
}

.rating__stars {
    color: #bdbdbdbd;
    font-size: inherit;
    line-height: 1;
    width: 100%;
}

.rating__stars_filled {
    color: #efb23e;
    font-size: inherit;
    left: 0;
    line-height: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
}
